{% extends 'base.html.twig' %}

{% block body %}
    <div class=" flex flex-col items-center justify-center min-h-screen">
        <div class="flex flex-col bg-red-800 rounded-lg border border-transparent p-6 shadow-lg min-w-500px items-center justify-center">
            {% if movies is defined and movies is not empty %}
                <ul class="pl-5">
                    {% for movie in movies %}
                        <li class="p-2 text-amber-200 text-[24px]">{{ movie }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ path('search') }}"
                   class="search-button max-w-96 bg-amber-200 mt-4 text-black px-4 py-2 rounded-lg shadow hover:bg-amber-300 text-[24px] flex justify-center">Back</a>
            {% else %}
                <p class="text-white text-[20px]">No results. No movies found to display.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}