@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pixel';
    src: url('/font/Pixellari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/background-image/popcorn.png");
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Pixel', sans-serif;

    body::after {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(circle, transparent 70%, rgba(0, 0, 0, 0.73) 100%);
        pointer-events: none;
    }

    .search-button {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .search-button:hover {
        transform: translateY(5px);
    }
}
